/* You can add global styles to this file, and also import other style files */
@import "variables";
@import "theme";

* {
	box-sizing: border-box;
}

mat-input-container {
	box-sizing: content-box !important;
}

mat-form-field {
	box-sizing: content-box !important;
}

html, body {
	min-height: 100vh;
	min-width: 100vw;
	color: $white;
}

body {
	margin: 0;
	font-family: 'Roboto Condensed', sans-serif;
}

.darken-image {
	position: relative;
	&:before {
		content: '';
		background-color: rgba(0, 0, 0, 0.4);
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

a {
	color: $white;
	text-decoration: none;
}