$white-font: #eeeeee;
$light-gray-font: #d7d7d7;
$medium-gray-font: #afafaf;
$white-font-hover: #c7c7c7;
$red-font: #d32f2f;
$orange-font: #f57c00;

$gray: #9b9b9b;
$dark-gray: #3F3F3F;
$dark-gray-hover: #5d5d5d;
$medium-dark-gray: #313131;
$very-dark-gray: #232323;

$font-roboto: 'Roboto Condensed', sans-serif;
$font-lato: 'Lato', sans-serif;

$md-breakpoint: 1500px;
$mobile-breakpoint: 690px;
$tablet-breakpoint: 995px;
$desktop-breakpoint: 1365px;
